{% extends 'flask_user/emails/base_message.html' %}

{% block message %}
<p>Sie müssen Ihre Email-Adresse bestätigen, um {{ app_name }} zu benutzen.</p>

<p>Wenn Sie sich bei {{ app_name }} registriert haben, bestätigen Sie Ihre Email-Adresse mit einem Klick auf den Link
    unten:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Email bestätigen</a>.</p>

<p>Wenn Sie diese Email nicht zuordnen können, ignorieren Sie diese Nachricht.</p>

{% endblock %}