{% extends 'flask_user/emails/base_message.html' %}

{% block message %}
<p>
    Anweisungen damit Ihre Kassette bei uns ankommt.
</p>
<p>
    Drucken Sie den Bestellschein im Anhang dieser Email aus und legen den Bestellschein Ihrer Sendung an uns bei.
</p>
<p>
    Falls Sie keinen Drucker haben, schreiben Sie leserlich die Bestellnummer, Ihren Namen, Ihre Adresse und Ihre Email
    leserlich auf ein Blatt Papier und legen Sie das Schreiben Ihrer Sendung bei. Nur so können wir Ihre Sendung zuordnen.
</p>
<p>
    Bitte überweisen den Betrag in Höhe von {{ price }} € auf das folgende Konto:
    </br>IBAN:
    </br>Geldinstitut:
</p>
<p>
    Schicken Sie Ihre VHS-Video-Kassette an die folgende Adresse:
    kibuso


</p>
<p>
    Achten Sie beim Verpacken darauf, dass die VHS-Kassette beim Transport möglichst nicht beschädigt werden kann.
</p>
<p>
    Sobald Ihre Kassette bei uns angekommen ist und der Rechnungsbetrag auf unser Konto überwiesen wurde, wird Ihre
    Aufnahme von der Kassette bearbeitet. Spätestens vier Wochen nachdem die Video-Kassette uns zugestellt wurde, steht
    die Aufnahme auf der Video-Kassette als Download in Ihrem Login-Bereich auf unserer Webseite zur Verfügung.
    Das Format für den Download ist MP4 und kann auf allen gängigen Geräten mit genug Speicher heruntergeladen werden.
</p>
<p>
    Wir weisen darauf hin, dass Kassetten beschädigt sein können. Wenn bei uns eine beschädigte Kassette ankommt und
    diese aus technischen Gründen nicht bearbeitet werden kann, wird der Preis trotzdem fällig.
</p>

{% endblock %}
