{% extends 'flask_user/emails/base_message.html' %}

{% block message %}
<p>Rechnung</p>
<p>
    Im Anhang finden Sie Ihre Rechnung für eine Bestellung bei {{ app_name }}.
</p>
<p>
    Bitte überweisen den Betrag in Höhe von {{ price }} € auf das folgende Konto:
    </br>IBAN:
    </br>Geldinstitut:
</p>
{% endblock %}
