{% extends 'flask_user/emails/base_message.html' %}

{% block message %}
<p>Ihr Passwort wurde geändert.</p>
{% if user_manager.USER_ENABLE_FORGOT_PASSWORD %}
<p>Wenn Sie Ihr Passwort nicht geändert haben drücken auf den folgenden Link,<a href="{{ url_for('user.forgot_password', _external=True) }}"></a> um Ihr Passwort zu ändern.</p>
{% endif %}
{% endblock %}
