{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Danke für die Registrierung auf {{ app_name }}.</p>

{% if confirm_email_link -%}
<p>Sie müssen Ihre Email-Adresse bestätigen.</p>

<p>Wenn Sie sich bei {{ app_name }} registriert haben, klicken Sie auf den Link unten:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ confirm_email_link }}">Email-Adresse bestätigen</a>.</p>

<p>Wenn Sie sich nicht auf {{ app_name }} registriert haben, ignorieren Sie diese Email.</p>
{%- endif %}

{% endblock %}