{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Wir haben Ihre Anfrage zum Zurücksetzen des Passworts erhalten.</p>

<p>Wenn Sie auf {{ app_name }} Ihr Passwort zurücksetzen möchten, klicken Sie bitte auf den folgenden Link:<br/>
&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{ reset_password_link }}">Passwort zurücksetzen</a>.</p>

<p>Wenn keine Anfrage auf {{ app_name }} gestellt haben, um Ihr Passwort zurückzusetzen, ignorieren Sie diese Email.</p>

{% endblock %}