{% extends 'flask_user/_authorized_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Rechnungsadresse{%endtrans%}</h1>

<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {% if not field.flags.hidden %}
            {% if field.type=='SubmitField' %}

            {% else %}
                <div class="row" style="padding: 2px;">
                    <div class="col-xs-3">
                        {{ field.label }}
                    </div>
                    <div class="col-xs-9">
                        {{ field(class_='form-control', tabindex=120) }}
                    </div>
                </div>
            {% endif %}
        {% endif %}
    {% endfor %}
    <p>
        {{ render_submit_field(form.submit, tabindex=120) }}
    </p>
</form>
<br/>

{% endblock %}