{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Wir brauchen Ihre Zustimmung{%endtrans%}</h1>
<p>
{%trans%}Sie müssen unseren Geschäftsbedingungen zustimmen{%endtrans%}
</p>
<form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    <p>
        {{ form.agbs }}
        <a href="{{ url_for('agbs_page') }}" target="_blank">
            {%trans%}AGBs: Allgemeine Geschäftsbedingungen{%endtrans%}
        </a>
    </p>
    <p>
        {{ form.right_of_withdrawal }}
        <a href="{{ url_for('widerrufsrecht_page') }}" target="_blank">
            {%trans%}Widerrufsbelehrung{%endtrans%}
        </a>
    </p>
    <p>
        {{ form.waiver_of_right_of_withdrawal }}
        <a href="{{ url_for('verzicht_aufs_widerrufsrecht_page') }}" target="_blank">
            {%trans%}Verzicht auf Widerrufsrecht{%endtrans%}
        </a>
    </p>
    <p>
        Gesamtpreis: {{ price }}
    </p>
    <p>
        {{ render_submit_field(form.submit, tabindex=180) }}
    </p>
</form>
{% endblock %}