{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Downloads{%endtrans%}</h1>
    {% for file in onlyfiles %}
        <li><a href="{{ url_for('download_content', filename=file) }}">{{ file }}</a></li>
    {% endfor %}
{% endblock %}