{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Home Page{%endtrans%}</h1>
<p>
{%trans%}Digitalisieren Sie Ihre VHS-Kassetten.{%endtrans%}
</p>
<p>
{%trans%}Es ist faszinierend und teilweise auch peinlich sich selbst auf alten Aufnahmen, aus lang vergangener Zeit, zu sehen. Auf jeden Fall bleiben die alten VHS-Aufnahmen für die Ewigkeit, wenn sie digitalisiert sind.{%endtrans%}
</p>
<p>
{%trans%}Sie schicken uns Ihre Video Kassette(n), wird digitalisieren die Aufnahme und stellen Ihnen einen Link auf unserer
    Webseite zur Verfügung. Hier können Sie Ihre Aufnahme von der Kassette beliebig oft herunterladen. Die digitalisierte Aufnahme
    wird im MP4 Vormat auf unseren Servern gespeichert. Nur Sie können auf ihre Aufnahmen zugreifen. Der Zugriff ist passwortgeschützt.
    Sie können Ihre Aufnahme auf dem Smartphone, Tablet, PC, und Laptop herunterladen und anschauen.
    Sie müssen mit einem Speicherbedarf von im Schnitt 1 GB pro eine Stunde Aufnahme rechnen.{%endtrans%}
</p>
<p>
{%trans%}Bei uns bezahlen Sie {{ price }} € pro Kassette.{%endtrans%}
</p>
<p>
{%trans%}Nach der Bearbeitung ihrer Aufnahmen schicken wir Ihnen Ihre Video Kassette wieder zurück.{%endtrans%}
</p>
<p>
{%trans%}Ihre Video Kassette darf nicht beschädigt sein. Wie übernehmen keine Haftung für Ihre Video Kassette.{%endtrans%}
</p>
<p>
{%trans%}Ihr vhs-kassette-digitalisieren.de Team{%endtrans%}
</p>
<p>
{% if current_user.is_authenticated %}
    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}
        {# Submit button #}
        {{ render_submit_field(form.submit, tabindex=180) }}
    </form>
{% else %}
    <a href="{{ url_for('user.login') }}">
        {%trans%}Anmelden{%endtrans%}
    </a>
{% endif %}
</p>

{% endblock %}