{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Impressum{%endtrans%}</h1>
<p>
{%trans%}Für den Inhalt der Webseite verantwortlich:{%endtrans%}
</p>
{% endblock %}