{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Bestellen{%endtrans%}</h1>
<p>
    {%trans%}Klicken Sie fortfahren um zu bestellen. Sie bestellen die Digitalisierung
    Ihrer VHS Video Kassette.{%endtrans%}
</p>
<p>
    Wenn Sie Ihre Bestellung abgeschlossen haben, bekommen Sie eine Email zugeschickt, in der
    unsere Empfangsadresse für Ihre VHS Video Kassette steht. Schicken Sie uns Ihre VHS Video Kassette. Die Kosten
    für das Versenden müssen Sie tragen. Wir übernehmen keine Versandkosten.
</p>
    Maximal 4 Wochen, nachdem Ihre VHS Video Kassette bei uns angekommen ist, bekommen Sie eine Benachrichtigung
    an Ihre Email Adresse zugeschickt. Sie können sich dann auf unserer Webseite mit Ihren Zugangsdaten einloggen und
    die Aufnahme im MP4 Format beliebig oft herunterladen. Der Link steht 12 Wochen lang zur Verfügung. Danach wird er gelöscht und Ihre Aufnahme
    kann nicht mehr heruntergeladen werden.
<p>
    <h4>Preis pro Kassette: {{ price }} €</h4>
</p>
<form action="" method="POST" class="form" role="form">
<p>
    Anzahl Kassetten: {{ form.amount }}
</p>
    {{ form.hidden_tag() }}
    {# Submit button #}
    {{ form.send_back }} Die Kassette soll zurück an mich geschickt werden, Kosten 4.95 €
    {{ render_submit_field(form.submit, tabindex=180) }}
</form>

{% endblock %}