{% extends 'flask_user/_public_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h1>{%trans%}Wir sind ausverkauft{%endtrans%}</h1>
<p>Es tut uns leid. Im Moment haben wir keine Kapazitäten Ihre Bestellung zu bearbeiten.</p>
{% endblock %}